{% extends 'base.html' %}

{% block title %}Stock Predictor{% endblock %}

{% block nav %}
    <h3 id="simulation"><a href="/simulation">Go to Stock Simulation</a></h3>
{% endblock %}

{% block content %}
    <center>
        <form>
            <label for="ticker">Ticker Symbol: </label>
            <select name="ticker" id="ticker">
                <option value="AAPL">APPL</option>
                <option value="AMZN">AMZN</option>
                <option value="GOOGL">GOOGL</option>
                <option value="MSFT">MSFT</option>
                <option value="NVDA">NVDA</option>
            </select>
            <label for="date">Predict until: </label>
            <input id="date" type="date" value="{{ date }}" min="{{ date }}" max="{{ max_date }}" />
        </form>
    </center>
    <div id="graph-prediction">
        <img src="data:image/png;base64,{{ prediction_plot }}">
    </div>
{% endblock %}