{% extends 'base.html' %}

{% block title %}Stock Predictor{% endblock %}

{% block nav %}
    <h4 id="simulation"><a href="/simulation">Stock Simulation &#8594;</a></h4>
{% endblock %}

{% block content %}
    <div id="choose-ticker">
        <br />
        <form id="ticker-form">
            <label for="ticker">Ticker Symbol: </label>
            <select id="ticker">
                <option value="AAPL">AAPL</option>
                <option value="AMZN">AMZN</option>
                <option value="GOOGL">GOOGL</option>
                <option value="MSFT">MSFT</option>
                <option value="NVDA">NVDA</option>
            </select>
            <label style="margin-left: 5em" for="date">Predict Until: </label>
            <input id="date" type="date" value="{{ date }}" min="{{ date }}" max="{{ max_date }}" />
        </form>
    </div>
    <div id="graph-prediction">
        <img id="prediction-graph" src="data:image/png;base64,{{ prediction_graph }}">
    </div>
    <script type="text/javascript">
        (() => {
            /* Sends ticker to server to return new graph */
            const getGraph = async (value) => {
                const data = await fetch('/change-graph', {
                    method: 'post',
                    body: JSON.stringify({ ticker: value })
                }).then(res => res.ok && res.json());
                return data;
            }

            /* Add listeners to refresh graph */
            ticker.addEventListener('change', async function() {
                try {
                    const newplot = await getGraph(this.value);
                    const graph = document.getElementById('prediction-graph');
                    graph.src = "data:image/png;base64," + newplot;
                } catch (err) {
                    console.log(err);
                }
            })
        })();
    </script>
{% endblock %}