<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Stock Simulator</title>
</head>
<body>
    <nav>
        <h1><a href="/">Stock Predictor</a></h1>
        <!-- TODO: Onclick open popup for user to enter username/password -->
        <h3 id="login">Login</h3>
    </nav>
    <div id="simulator">
        <!-- TODO: Create simulator 
                User should see screen to login if not already logged in
                Else should see statistics -->
    </div>
</body>
</html>